.calculator-wrapper {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  min-width: 25%;
  height: 30px;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid gray;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #ababab;
}

button.theme-btn {
  width: 60px;
  margin: 0 10px;
}


.theme-btn.clicked {
  border: 2px solid skyblue;
}

.display-result {
  border: 1px solid gray;
  border-radius: 5px;
}

.calculator-wrapper.dark {
  background: #000;
}

.calculator-wrapper.dark button {
  background-color: #666;
  color: white;
}

.calculator-wrapper.dark h1,
.calculator-wrapper.dark p{
  color: white;
}